.switch-circle {
  width: 42px;
  height: 42px;
  background: #FCF0DC;
  border: 2px solid #F7F8F9;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-circle:hover {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.switch-icon {
  width: 20px;
  height: 18px;
  font-family: fontoed;
  color: #F99E3C;
  line-height: 20px;
}

.switch-circle:hover .switch-icon-default,
.switch-circle .switch-icon-onhover {
  display: none
}

.switch-circle:hover .switch-icon-onhover {
  display: inline;
}

.refresh-price {
  font-size: 10px;
  font-family: fontoed;
  color: #858B9C;
}

.clover-info {
  font-size: 16px;
  font-family: fontoed;
  color: #F5A623;

  cursor: pointer;
}
