
.item-wrapper {
  padding: 12px 16px 16px 16px;
  border-radius: 16px;
}

.item-open-background {
  background: #F9FAFB;
}

.margin-top-8 {
  margin-top: 8px;
}

.tip-icon {
  height: 32px;
  line-height: 32px;
}